body{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color:rgb(241, 242, 243);
}
img{
    width:100%;
    height: 70vh;
}
.bg-image{
    background-image: url("blood-donor.jpg");
    background-size: cover;
}
.donate-h1 h1{
    text-align: center;
    font-size: 4.5rem;
    padding-top:15%;
    margin-bottom: 0%;
    color: rgb(155, 2, 2);
}
.donate-h1 h4{
    text-align: center;
    font-size: 3rem;
    margin-top: 0%;
    color: rgb(223, 222, 222);
    padding-bottom: 20%;
}
nav{
   
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li a {
    color:white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family:'Roboto',sans-serif;
    padding: 15%;
    
}
ul li a:hover{
    color:rgb(10, 10, 10);
}

/*h3, .card-title{
    color: rgb(180, 5, 5);
    text-align: center;
    margin-top: 10%;
    text-transform: uppercase;
}
.text-center{
    color:rgb(180,5,5);
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}*/
